body {
    margin: 0;
    font-family: sans-serif;
    background-color: #111111;
    color: white;
}

#title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    background-color: #1e1e1e;
    -webkit-user-select: none;
}

#drag-region {
    flex: 1;
    padding-left: 10px;
    -webkit-app-region: drag;
}

#window-controls button {
    width: 45px;
    height: 30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    -webkit-app-region: no-drag;
    font-size: 14px;
}

#window-controls button:hover {
    background-color: #333;
}

#window-controls #close:hover {
    background-color: #e81123;
}