.app {
    --menubar-height: 30px;
    --activitybar-width: 30px;
    --statusbar-height: 30px;

    --ballistic-purple: rgb(218, 177, 255);

    margin: 0;
    font-family: sans-serif;
    background-color: #111;
    color: white;
}

/* MENU BAR */

.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--menubar-height);
    background-color: #1e1e1e;
    font-size: 12px;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.menu-bar div:first-child {
    display: flex;
    align-items: center;
    gap: 5px;
}

.menu-btn {
    width: 45px;
    height: var(--menubar-height);
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

.menu-btn:hover {
    background-color: #333;
}

.menu-bar #close:hover {
    background-color: #e81123;
}

.menu-bar .app-icon {
    width: calc(var(--menubar-height) - 10px);
    height: calc(var(--menubar-height) - 10px);
    vertical-align: middle;
    margin-left: calc(var(--menubar-height)/2);
}

.menu-wrapper {
    position: relative;
}

.menu-dropdown {
    position: absolute;
    top: var(--menubar-height);
    left: 0;
    background-color: #1e1e1e;
    border: 1px solid #333;
    display: none;
    flex-direction: column;
    min-width: 200px;
    z-index: 1000;
    border-radius: 5px;
    padding: 5px 5px;
}

.menu-dropdown .menu-item {
    padding: 5px 10px;
    cursor: pointer;
    white-space: nowrap;
}

.menu-dropdown .menu-item:hover {
    background-color: #333;
}

.menu-item {
    border-radius: 5px;
    padding: 5px 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

.menu-item .shortcut {
    color: gray;
}

/* EDITOR */

.editor {
    position: absolute;
    top: var(--menubar-height);
    left: 0;
    width: 100vw;
    height: calc(100vh - var(--menubar-height));
    box-shadow: border-box;
    background-image:
        linear-gradient(to right, black, red),
        linear-gradient(to bottom, black, lime);
    background-blend-mode: screen;
}