.app {
    margin: 0;
    font-family: sans-serif;
    background-color: #111;
    color: white;

    --ballistic-purple: rgb(157, 128, 182);

    --menubar-height: 34px;
    --activitybar-width: 29px;
    --sidebar-width: 200px;
    --statusbar-height: 15px;
    --terminal-height: 100px;

    --border: 1px solid #333;
    --drag-color: var(--ballistic-purple);

    --light-panel-bg: #1e1e1e;
    --dark-panel-bg: #121212;

    overflow: hidden;
    font-size: 10px;
}

/* MENU BAR */

.menu-bar {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--menubar-height);
    z-index: 9999;
    
    background-color: var(--light-panel-bg);
    border-bottom: var(--border);

    justify-content: space-between;
    align-items: center;
    
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.menu-bar div:first-child {
    display: flex;
    align-items: center;
    gap: 5px;
}

.menu-btn {
    width: 45px;
    height: var(--menubar-height);
    background: none;
    border: none;
    color: lightgray;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

.menu-btn:hover {
    background-color: #333;
    color: white;
}

.menu-bar #close:hover {
    background-color: #e81123;
    color: white;
}

.menu-bar .app-icon {
    width: calc(var(--menubar-height) - 10px);
    height: calc(var(--menubar-height) - 10px);
    vertical-align: middle;
    margin-left: calc(var(--menubar-height)/2);
}

/* MENU DROPDOWN */

.menu-wrapper {
    position: relative;
}

.menu-dropdown {
    position: absolute;
    top: var(--menubar-height);
    left: 0;
    min-width: 125px;
    z-index: 1000;

    background-color: var(--light-panel-bg);
    border: var(--border);

    display: none;
    flex-direction: column;
    border-radius: 5px;
    padding: 5px 5px;
}

.menu-dropdown .menu-item {
    padding: 5px 10px;
    cursor: pointer;
    white-space: nowrap;
}

.menu-dropdown .menu-item:hover {
    background-color: #333;
    color: white;
}

.menu-item {
    color: lightgray;
    border-radius: 5px;
    padding: 5px 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

.menu-item .shortcut {
    color: gray;
}

/*ACTIVITY BAR*/

.activity-bar {
    position: absolute;
    display: flex;
    top: var(--menubar-height);
    left: 0;
    width: var(--activitybar-width);
    height: calc(100vh - var(--menubar-height) - var(--statusbar-height));
    z-index: 3;

    background-color: var(--dark-panel-bg);
    border-right: var(--border);

    flex-direction: column;
    align-items: center;
}

.activity-btn {
    border: none;
    background: none;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: gray;
}

.activity-btn:hover,
.activity-btn.selected {
    color: white;
}

.activity-top,
.activity-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.activity-top {
    padding-top: 15px;
}

.activity-bottom {
    margin-top: auto;
    padding-bottom: 15px;
}

/* STATUS BAR */

.status-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: var(--statusbar-height);
    z-index: 4;
    
    background-color: var(--light-panel-bg);
    border-top: var(--border);
}

/* SIDE BAR */

.side-bar {
    position: absolute;
    top: var(--menubar-height);
    left: var(--activitybar-width);
    width: var(--sidebar-width);
    height: calc(100vh - var(--menubar-height) - var(--statusbar-height));
    z-index: 2;
    
    background-color: var(--dark-panel-bg);
    border-right: var(--border);
}

/* SIDE BAR RESIZER */

.sidebar-resizer {
    position: absolute;
    top: var(--menubar-height);
    left: calc(var(--activitybar-width) + var(--sidebar-width));
    width: 4px;
    height: calc(100vh - var(--menubar-height) - var(--statusbar-height));
    cursor: ew-resize;
    background: transparent;
    z-index: 10;
    -webkit-app-region: no-drag;
}

.sidebar-resizer::before {
    content: "";
    position: absolute;
    left: -8px;
    width: 20px;
    height: 100%;
}

.sidebar-resizer:hover,
.sidebar-resizer.active {
    background: var(--drag-color);
}

/* TERMINAL */

.terminal-panel {
    position: absolute;
    bottom: calc(var(--statusbar-height)/2);
    left: calc((var(--activitybar-width) + var(--sidebar-width))/2);
    width: calc(100vw - var(--activitybar-width) - var(--sidebar-width));
    height: var(--terminal-height);
    z-index: 0;
    
    background-color: var(--dark-panel-bg);
    border-top: var(--border);
}

.terminal {
    position: absolute;
    bottom: calc(var(--statusbar-height)/2);
    left: calc((var(--activitybar-width) + var(--sidebar-width))/2);
    width: calc(100vw - var(--activitybar-width) - var(--sidebar-width));
    height: calc(var(--terminal-height));
    z-index: 1;
    
    background-color: var(--dark-panel-bg);
    border-top: var(--border);
}

/* TERMINAL RESIZER */

.terminal-resizer {
    position: absolute;
    top: calc(100vh - var(--statusbar-height) - var(--terminal-height) - 4px);
    left: calc(var(--activitybar-width) + var(--sidebar-width));
    width: calc(100vw - var(--activitybar-width) - var(--sidebar-width));
    height: 4px;
    cursor: ns-resize;
    background: transparent;
    z-index: 10;
    -webkit-app-region: no-drag;
    pointer-events: auto;
}

.terminal-resizer::before {
    content: "";
    position: absolute;
    top: -8px;
    height: 20px;
    width: 100%;
}

.terminal-resizer:hover,
.terminal-resizer.active {
    background: var(--drag-color);
}

/* EDITOR */

.editor {
    position: absolute;
    top: var(--menubar-height);
    left: calc(var(--activitybar-width) + var(--sidebar-width));
    width: calc(100vw - var(--activitybar-width) - var(--sidebar-width));
    height: calc(100vh - var(--menubar-height) - var(--statusbar-height) - var(--terminal-height));
    z-index: 0;

    /*box-shadow: border-box;
    background-image:
        linear-gradient(to right, black, red),
        linear-gradient(to bottom, lime, black);
    background-blend-mode: screen;*/

    background-color: var(--light-panel-bg);
}