.app {
    margin: 0;
    font-family: sans-serif;
    background-color: #111;
    color: white;

    --ballistic-purple: rgb(218, 177, 255);

    --menubar-height: 30px;
    --activitybar-width: 40px;
    --sidebar-width: 200px;
    --statusbar-height: 15px;
    --terminal-height: 100px;
}

/* MENU BAR */

.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--menubar-height);
    background-color: #1e1e1e;
    font-size: 12px;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.menu-bar div:first-child {
    display: flex;
    align-items: center;
    gap: 5px;
}

.menu-btn {
    width: 45px;
    height: var(--menubar-height);
    background: none;
    border: none;
    color: lightgray;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

.menu-btn:hover {
    background-color: #333;
}

.menu-bar #close:hover {
    background-color: #e81123;
}

.menu-bar .app-icon {
    width: calc(var(--menubar-height) - 10px);
    height: calc(var(--menubar-height) - 10px);
    vertical-align: middle;
    margin-left: calc(var(--menubar-height)/2);
}

.menu-wrapper {
    position: relative;
}

.menu-dropdown {
    position: absolute;
    top: var(--menubar-height);
    left: 0;
    background-color: #1e1e1e;
    border: 1px solid #333;
    display: none;
    flex-direction: column;
    min-width: 200px;
    z-index: 1000;
    border-radius: 5px;
    padding: 5px 5px;
}

.menu-dropdown .menu-item {
    padding: 5px 10px;
    cursor: pointer;
    white-space: nowrap;
}

.menu-dropdown .menu-item:hover {
    background-color: #333;

    color: white;
}

.menu-item {
    color: lightgray;
    border-radius: 5px;
    padding: 5px 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

.menu-item .shortcut {
    color: gray;
}

/*ACTIVITY BAR*/

.activity-bar {
    position: absolute;
    top: var(--menubar-height);
    left: 0;
    width: var(--activitybar-width);
    height: calc(100vh - var(--menubar-height) - 15px);
    background-color: #1e1e1e;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.activity-btn {
    border: none;
    background: none;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: lightgray;
}

.activity-btn:hover,
.activity-btn.selected {
    color: white;
}

.activity-top,
.activity-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.activity-top {
    padding-top: 15px;
}

.activity-bottom {
    margin-top: auto;
    padding-bottom: 15px;
}

/* EDITOR */

.editor {
    position: absolute;
    top: var(--menubar-height);
    left: calc(var(--activitybar-width) + var(--sidebar-width));
    width: calc(100vw - var(--activitybar-width) - var(--sidebar-width));
    height: calc(100vh - var(--menubar-height) - var(--statusbar-height) - var(--terminal-height));
    box-shadow: border-box;
    background-image:
        linear-gradient(to right, black, red),
        linear-gradient(to bottom, black, lime);
    background-blend-mode: screen;
}