body {
    margin: 0;
    font-family: sans-serif;
    background-color: #111111;
    color: white;

    --menubar-height: 30px;
    --activitybar-width: 30px;
    --statusbar-height: 30px;
}

/* MENU BAR */

#menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--menubar-height);
    background-color: #1e1e1e;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

#window-controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2px;
}

#menu-bar button {
    width: 45px;
    height: var(--menubar-height);
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    -webkit-app-region: no-drag;
    font-size: 14px;
}

#menu-bar button:hover {
    background-color: #333;
}

#menu-bar #close:hover {
    background-color: #e81123;
}

#menu-bar #app-icon {
    width: calc(var(--menubar-height) - 10px);
    height: calc(var(--menubar-height) - 10px);
    vertical-align: middle;
    margin-left: calc(var(--menubar-height)/2);
}

/* ACTIVITY BAR */

#activity-bar {
    position: absolute;
    top: var(--menubar-height);
    left: 0;
    width: var(--activitybar-width);
    height: calc(100vh - var(--menubar-height) - var(--statusbar-height));
    background-color: #1b1b1b;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    gap: 2px;
    box-sizing: border-box;
}

.activity-btn {
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    color: gray;
    cursor: pointer;
}

.activity-btn:hover {
    color: white;
}